* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.background {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(226,226,226,1) 0%);
  background-blend-mode: darken;
  background-size: cover;
}
.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60px;
  border-radius: 50px;
  background-color: black;
  border-color: black;
}

.nav-list li {
  list-style: none;
  padding: 25px 30px;
  padding-left: 50px;
}

.nav-list li a {
  text-decoration: steelblue;
  color: black;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  padding-left: 30px;
}

.nav-list li a:hover {
  color: blueviolet;
}

.rightnav {
  width: 30%;
  text-align: right;
  color: black;
  border-radius: 10px;
}

#search {
  padding: 5px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 9px;
  color: black;
}

.btn {
  padding: 8px 20px;
  margin: 7px 0;
  border-radius: 10px;
  background: blanchedalmond;
  color: black;
  cursor: pointer;
}

.btn-sm {
  padding: 5px 10px;
  vertical-align: middle;
  color: #000;
}


.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
  }

.firstsection {
  background-color: #c0c0c0;
  height: 3100px;
}

.box-main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: black;
  max-width: 100%;
  margin: left;
  height: 100%;
}
.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-big {
  font-family: "Piazzolla", serif;
  font-weight: bold;
  font-size: 35px;
  margin: auto;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 10px;

}

.text-small {
  font-size: 18px;
  padding-right: 10px;
  padding-left: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
  'Lucida Sans', Arial, sans-serif;
}




@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #34495e;
  color: #fff;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 1rem 9rem 1rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 3px solid bisque;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  font-size: large;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

.lead{
  text-align: left;
  font-size: small;
  margin-left: auto;
  }


  .ex {
    height: 60px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ex img {
    width: 600px;
    margin-left: 690px;
    background-color: black;
  }

  .ex2 {
    height: 60px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ex2 img {
    width: 400px;
    margin-left: 600px;
    background-color: black;
  }

  .ex3 {
    height: 50px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ex3 img {
    width: 400px;
    margin-left: 600px;
    background-color: black;
  }